env-files = [".env", "out/target"]

packages = [
    "postcard-ts",
    "scripts",
    "vertx",
    "vertx-config",
    "vertx-config-migrate",
    "vertx-configurator",
    "vertx-crsf",
    "vertx-filesystem",
    "vertx-simulator",
]

[tasks.setup]
desc = "Setup needed after first clone and dependency updates"
run = [
    { task = "mark-caches" },
    "mise install",
    "pnpm install",
    "node scripts/fetch-rust.ts",
    # Install dprint plugins:
    "dprint output-file-paths --config=.config/dprint.json >/dev/null",
    "@echo && echo 'Run `wrun target` to select a build target'",
]

[tasks."setup:flake"]
desc = "Same as /setup, but doesn't install dev tools. Meant to be used in the nix devShell"
run = [
    { task = "mark-caches" },
    "pnpm install",
    # Install dprint plugins:
    "dprint output-file-paths --config=.config/dprint.json >/dev/null",
    "@echo && echo 'Run `wrun target` to select a build target'",
]

[tasks.sync-versions]
desc = "Sync versions config from nix flake"
# Assume versions are the same on all platforms
run = [
    "nix eval --json ~/Projects/VerTX#versions.x86_64-linux > .config/versions.json",
    "biome format --write .config/versions.json",
    "node scripts/sync-mise.ts",
]

[tasks.format]
desc = "Format everything"
run = [
    "dprint --config=.config/dprint.json fmt",
    "biome format --write",
    "cargo fmt --all",
]

[tasks.clean]
desc = "Delete all build artifacts"
run = [
    "rm -rf out",
    { task = "mark-caches" },
    "cargo clean",
]

[tasks.clean-all]
desc = "Delete all build artifacts and downloaded tools/dependencies"
run = "rm -rf .cache .tools out target node_modules */node_modules"

[tasks.target]
desc = "Set the target to build firmware for"
run = "@node scripts/set-target.ts"

[tasks."targets:check"]
desc = "Validate all target specifications"
run = "node scripts/check-targets.ts"

[tasks.check]
desc = "Typecheck & lint almost everything. Skips `vertx/check`"
run = [
    { task = "targets:check" },
    { task = "scripts/check" },
    { task = "postcard-ts/check" },
    { task = "vertx-crsf/check" },
    { task = "vertx-config/check" },
    { task = "vertx-config-migrate/check" },
    { task = "vertx-filesystem/check" },
    { task = "vertx/simulator:check" },
    { task = "vertx-configurator/check" },
    { task = "vertx-simulator/check" },
]

[tasks.mark-caches]
internal = true
silent = true
run = [
    "mkdir -p out .cache .tools",
    "echo 'Signature: 8a477f597d28d172789f06886806bc55' > out/CACHEDIR.TAG",
    "echo '# This file is a cache directory tag created by VerTX build tooling.' >> out/CACHEDIR.TAG",
    "echo '# For information about cache directory tags see https://bford.info/cachedir/' >> out/CACHEDIR.TAG",
    "cp out/CACHEDIR.TAG .cache/CACHEDIR.TAG",
    "cp out/CACHEDIR.TAG .tools/CACHEDIR.TAG",
]

[tasks."pupgrade:init"]
run = [
    "PUPGRADE_LOG=info pupgrade init",
    "biome format --write .pupgrade.json",
]

[tasks."pupgrade:apply"]
run = [
    "pupgrade apply",
    "biome format --write",
    "nix flake lock",
    "rm pnpm-lock.yaml",
    "pnpm install --no-frozen-lockfile",
    "rm Cargo.lock",
    # Last because it will likely fail due to crate features changing
    "cargo generate-lockfile",
]
