---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Models</h1>

  <div id="models">
    <div id="template">
      <span class="name" />
      <button class="menu" type="button">3 dots icon</button>
      <a class="mixer" href="/model/">Edit mixer</a>
    </div>
  </div>
</Layout>

<script>
  type Model = {
    id: string;
    name: string;
  };

  const devModels: Array<Model> = [
    { id: '0', name: 'Test 0' },
  ];

  // @ts-expect-error
  const models: Array<Model> = import.meta.env.NODE_ENV === 'production' ? $models$ : devModels;

  const container: HTMLDivElement = document.querySelector('#models')!;
  const template: HTMLDivElement = document.querySelector('#template')!;

  template.childNodes.forEach(child => {
    if (child.nodeType !== Node.ELEMENT_NODE) {
      template.removeChild(child);
    }
  });

  for (const { id, name } of models) {
    const node = template.cloneNode(true) as typeof template;
    node.id = '';
    node.dataset.id = id;

    node.childNodes.forEach(rawNode => {
      const child = rawNode as HTMLElement;
      switch (child.className) {
        case 'name':
          child.innerText = name;
          break;
        case 'mixer': 
          (child as HTMLAnchorElement).href += id;
      }
    });

    container.appendChild(node);
  }
</script>

<style is:inline>
  #template {
    display: none;
  }
</style>
