[tasks]
check.run = "node ../scripts/build-target.ts --command=clippy --target=$VERTX_TARGET"
test.run = "VERTX_TARGET=test cargo nextest run --lib -F network,loog/log"
build.run = "node ../scripts/build-target.ts --target=$VERTX_TARGET"
"build:release".run = "node ../scripts/build-target.ts --target=$VERTX_TARGET --release"

flash.run = "probe-rs run --preverify --chip $VERTX_CHIP --idf-partition-table partitions.csv ../out/firmware/vertx"

"simulator:check".run = "node ../scripts/build-simulator.ts --command=clippy"
"simulator:build".run = "node ../scripts/build-simulator.ts"
"simulator:build:release".run = "node ../scripts/build-simulator.ts --release"

[tasks."simulator:edit"]
desc = "Set up rust-analyzer config for supported editors for working on the simulator"
run = "node ../scripts/set-ra-config.ts --simulator"
