@import "./reset.css";

:root {
	font-family: sans-serif;
	color-scheme: light dark;
}

#app {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: center;
}

#status-led {
	--glow-size: 0.5em;
	width: 1em;
	height: 1em;
	margin: var(--glow-size);
	color: black;
	background-color: currentColor;
	border-radius: 100%;
	box-shadow: 0 0 var(--glow-size) 0 currentColor;
}

#display {
	--scale: 2;
	width: calc(var(--scale) * 128px);
	height: calc(var(--scale) * 64px);
	image-rendering: pixelated;
	border: 0.5px solid currentColor;
}

#help {
	margin-top: 1em;
	text-align: center;
}
