[tasks.check]
run = [
    "biome ci",
    { task = "vertx/simulator:build" },
    "tsgo --project ./tsconfig.json",
]

[tasks.run]
desc = "Run a development server"
run = "pnpm vite"

[tasks.build]
run = [
    "rm -rf ../out/simulator",
    { task = "vertx-configurator/simulator:build" },
    { task = "vertx/simulator:build:release" },
    "pnpm vite build",
]

[tasks.preview]
desc = "Preview the latest build"
run = "pnpm vite preview"
