---
import * as styles from './AppBar.css.ts';
import MenuButton from './MenuButton.astro';

export type Props = {
	showSave?: boolean;
};
---

<div class={styles.root}>
	<MenuButton />
	<span class={styles.title}>VerTX</span>
	{Astro.props.showSave && <button id="save" class={`${styles.save} primary`}>Save</button>}
</div>
