[tasks.check]
run = [
    "biome ci",
    "bun run -b astro check",
    "tsgo --project ./tsconfig.json",
]

[tasks.build]
run = "VERTX_SIMULATOR=false bun run -b astro build"

[tasks."simulator:run"]
desc = "Run a development server for use with vertx-simulator/run"
run = "VERTX_SIMULATOR=true bun run -b astro dev"

[tasks."simulator:build"]
run = "VERTX_SIMULATOR=true bun run -b astro build"

[tasks."simulator:preview"]
desc = "Preview the latest simulator build"
run = "VERTX_SIMULATOR=true bun run -b astro dev"
