[tasks.prebuild]
internal = true
run = "@cp ../vertx-config/out/config.ts src/generated/"

[tasks.check]
run = [
    { task = "prebuild" },
    "biome ci",
    "pnpm astro check",
    "tsgo --project ./tsconfig.json",
]

[tasks.build]
run = [
    { task = "prebuild" },
    "VERTX_SIMULATOR=false pnpm astro build",
]

[tasks."simulator:run"]
desc = "Run a development server for use with vertx-simulator/run"
run = [
    { task = "prebuild" },
    "VERTX_SIMULATOR=true pnpm astro dev",
]

[tasks."simulator:build"]
run = [
    { task = "prebuild" },
    "VERTX_SIMULATOR=true pnpm astro build",
]

[tasks."simulator:preview"]
desc = "Preview the latest simulator build"
run = [
    { task = "prebuild" },
    "VERTX_SIMULATOR=true pnpm astro dev",
]
