[tasks.check]
run = [
    "biome ci",
    "pnpm tsgo --project ./tsconfig.json",
]

[tasks.codegen]
run = [
    "rm -rf out && mkdir out",
    "node src/generate.ts",
    "rustfmt --config-path=../rustfmt.toml out/config.rs out/current.rs out/old.rs",
    "biome format --write out/config.ts",
]
