name: pupgrade

on:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry run
        type: boolean
        default: true

permissions:
  contents: write
  pull-requests: write

jobs:
  pupgrade:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: true
      - uses: ./.github/actions/setup-biome
      - uses: ./.github/actions/setup-rust
      - uses: ./.github/actions/setup-node
      - name: Install pupgrade
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2
        with:
          repo: wetheredge/pupgrade
      - name: Get galock version
        id: galock
        run: .github/scripts/get-version.sh galock >> "$GITHUB_OUTPUT"
      - name: Install galock
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2
        with:
          repo: wetheredge/galock
          tag: v${{ steps.galock.outputs.version }}
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd
      - name: Git setup
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git switch -c updates
      - name: pupgrade
        env:
          PUPGRADE_LOG: info
        run: |
          pupgrade init
          pupgrade apply
          biome format --write .pupgrade.*
          git add .pupgrade.*
      - name: pnpm lockfile
        continue-on-error: true
        run: |
          rm pnpm-lock.yaml
          pnpm install --no-frozen-lockfile
          git add pnpm-lock.yaml
      - name: Cargo lockfile
        continue-on-error: true
        run: |
          rm Cargo.lock
          cargo update
          git add Cargo.lock
      - name: nix lockfile
        run: |
          nix flake update
          git add flake.lock
      - name: Git commit
        run: git commit -m 'Update all dependencies'
      - name: Diff
        run: git diff '${{ github.ref_name }}'
      - name: Summary
        run: pupgrade summarize | tee .pupgrade.md
      - name: Push
        if: github.event_name == 'schedule' || !inputs.dry-run
        run: git push origin updates
      - name: Open PR
        if: github.event_name == 'schedule' || !inputs.dry-run
        run: gh pr create --base main --title 'Update dependencies' --body-file .pupgrade.md
        env:
          GH_TOKEN: ${{ secrets.token }}
